[Desktop Entry]
Categories=Office;Publishing;
Exec=env UBUNTU_MENUPROXY= texstudio %F
GenericName=LaTeX Editor
GenericName[fr]=Editeur LaTeX
Comment=LaTeX development environment
Comment[fr]=Environnement de développement LaTeX
Keywords=editor;latex;pdflatex;xelatex;lualatex;context;bibtex;tex;
Icon=texstudio
MimeType=text/x-tex;
Name=TeXstudio
StartupNotify=false
Terminal=false
Type=Application

